.root{
	-fx-background-color: #000000;
	-fx-font-size: 12px;
}
.border-pane{
	-fx-background-color: #000000;
}
.label{
    -fx-text-fill: #F1F1F1;
}

.progress-bar{
	-fx-text-box-border: orange;
	-fx-control-inner-background: black;
	-fx-accent:orange;
}

.tab-pane{
	-fx-background-color: #000000;
}

.tab-pane *.tab-header-background
{
	-fx-background-color: #101010;
}

.tab-pane .tab{
	-fx-background-color: #101010;
}

.tab{
	-fx-border-color: #101010;
	-fx-border-width: 0;
}
.tab  .tab-label{
	-fx-text-fill: #F1F1F1;
}

.tab-pane .tab:selected
{
    -fx-text-fill: #FFFFFF;
	-fx-background-color: #000000;
}
.list-view
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
}
.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: #101010;
}
.list-view .scroll-bar .thumb {
    -fx-background-color: #101010;
    -fx-border-color: #101010;
}

.list-cell
{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
}


.button{
 -fx-background-color: #555555;
 -fx-text-fill: #F1F1F1;
}
